# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
# Mac-specific directory that no other operating system needs.
.DS_Store
# IntelliJ project files
.idea
*.iml
# vs
.vscode
# jest dump files
report*.json
# node
node_modules
dist
dist-ssr
*.local
temp
debug.log
*.log
*.swp
*~
.env
